:root {
  /* Text color */
  --gray: hsl(0, 0%, 59%);
  --darkBlue: hsl(209, 33%, 12%);
  --red: hsl(354, 100%, 66%);

  /* Background color */
  --blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 130vh;
}

/* Logo */

.logo {
  margin-bottom: 40px;
}

/* Main text */

.text h1 {
  font-weight: 300;
  font-size: 3em;
  color: var(--gray);
  margin-bottom: 15px;
}

.text strong {
  color: var(--darkBlue);
}

.text p {
  color: var(--darkBlue);
  opacity: 0.8;
  margin-bottom: 40px;
  font-size: 1.1em;
}

/* E-mail input */

form {
  margin-bottom: 50px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container input {
  font-family: "Libre Franklin", sans-serif;
  border-radius: 30px;
  width: 400px;
  height: 50px;
  border: 1px solid var(--PaleBlue);
  outline: none;
  padding-top: 3px;
  padding-left: 25px;
  margin-right: 10px;
}

.input-container input::placeholder {
  color: var(--PaleBlue);
}

.input-container button {
  font-weight: 600;
  border-radius: 30px;
  width: 180px;
  height: 50px;
  border: none;
  padding-top: 3px;
  background-color: var(--blue);
  color: hsl(0, 100%, 100%);
  font-size: 0.9em;
  box-shadow: 0px 4px 10px var(--PaleBlue);
  cursor: pointer;
}

.input-container button:active {
  background-color: var(--PaleBlue);
}

.error {
  display: none;
  color: var(--red);
  font-size: 0.8em;
  text-align: left;
  margin-left: 25px;
}

.valid {
  display: none;
  color: hsl(155, 100%, 40%);
  font-size: 0.8em;
  text-align: left;
  margin-left: 25px;
}

/* Image */

.dashboard img {
  width: 50%;
}

/* Footer */

footer a {
  margin-left: 10px;
}

footer img {
  border: 1px solid hsla(0, 0%, 59%, 0.3);
  padding: 7px;
  border-radius: 30px;
  width: 35px;
  margin-top: 70px;
  margin-bottom: 25px;
  transition: 0.4s ease-in-out;
}

footer a img:hover {
  background-color: var(--blue);
}

footer p {
  color: var(--gray);
  font-size: 0.8em;
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  /* Logo */

  .logo {
    width: 20%;
  }

  /* Main text */

  .text h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .text p {
    font-size: 0.8em;
  }

  /* E-mail input */

  form {
    margin-bottom: 70px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .input-container input {
    width: 290px;
    height: 45px;
    margin-right: 0px;
  }

  .input-container button {
    width: 290px;
    height: 45px;
  }

  .error {
    text-align: center;
    margin-left: 0px;
  }

  .valid {
    text-align: center;
    margin-left: 0px;
  }

  /* Image */

  .dashboard img {
    width: 85%;
  }

  /* Footer */

  footer img {
    margin-top: 120px;
  }

  footer p {
    font-size: 0.7em;
  }
}
